body {
    background-image: url('image.jpg');
    background-attachment: fixed;
    background-size: 25%;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

th {
    background-color: yellow;
}

td:nth-child(1) {
    background-color: aqua;
}

td:nth-child(2) {
    color: white;
    background-color: black;
}

td:nth-child(3) {
    background-color: rgb(201, 106, 122);
}

#text1 {
    color: blue;
}